# macOS
.DS_Store

# Xcode
xcuserdata/
DerivedData/
build/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Accio dependency management
Dependencies/
.accio/

# Code Injection
iOSInjectionProject/
